<section class="contact-section" id="contact">
  <div class="contact-container">
    <div class="left">
      <h1 class="lets-talk">Let’s Talk</h1>
      <div class="tagline">👨‍💻 Let's build something extraordinary together.</div>
      <p class="subtext">Open to freelance projects, collaborations, or just a tech chat!</p>

      <div class="social-icons">
        <a href="https://github.com/ankit-ninave" target="_blank" aria-label="GitHub">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/ankit-ninave-7942bb1a0/" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/ankit_ninave?igsh=MXczbjFuZzAyZzRxOQ==" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="mailto:ankitninave1@gmail.com" target="_blank" aria-label="Gmail">
          <i class="fas fa-envelope fa-2x"></i>
        </a>
      </div>

    </div>

    <div class="right">
      <button class="download-btn" (click)="lFN_ConfirmDownload()">📄 Download My Resume</button>
    </div>
  </div>
</section>